<script>
  var pines=[]
  function pegar(ball, pin){

    var ball = $(ball);
    var pin = $(pin);    
      
    var ball_x = ball.offset().left; //Posici贸n horizontal de la bola
    var ball_y = ball.offset().top; //Posici贸n vertical de la bola
    var ball_w = ball.width(); //Ancho de la bola    
    var ball_h = ball.height(); //Altura de la bola
   
    var pin_x = pin.offset().left;//Posici贸n horizontal del pin
    var pin_y = pin.offset().top;//Posici贸n vertical del pin
    var pin_w = pin.width(); //Ancho del pin
    var pin_h = pin.height(); //Altura del pin

    if( ball_y+ball_h < pin_y ||
        ball_y > pin_y+pin_h ||
        ball_x > pin_x+pin_w ||
        ball_x+ball_w < pin_x ){  
         
        return false;
    }else{
      // $(pin).css({backgroundColor:'yellow'});
        pin=pin.attr("id") 
        pines.push(pin)
        pines=[...new Set(pines)]   
        return true;   
    }    
}

num=0
move=""
frame=[]
line=[]
long=0
sum=0

function score(roll,move,long){
  if (move == "STRIKE"){ 
    sum=frame[0] 
    console.log("sum: " + sum)
    console.log(move)
  }else if ((move=="SPARE")|| (move="NONE")) {
    sum=frame[0]+frame[1]
    console.log("sum: " + sum)
    console.log(move)
  } else if (long<2)
    lanzamiento() 
  else{
    console.log("nada")
    }
}

function roll(array_pines){  
  long=frame.length     // scores del frame
  if (long==0){    //hacer mi primer lanzamiento 
    roll=array_pines;
    frame.push(roll)
    if (roll==10) {move="STRIKE" }     //primer lanzamiento perfecto
    console.log("primer: " +frame)    
    score(roll,move,long)
  }

  else{ 
    num=10-frame[0]
    roll=Math.floor(Math.random()*num);
    frame.push(roll) 
    if ((frame[0]+frame[1])==10) {move="SPARE" }   
    if ((frame[0]+frame[1])<10) {move="NONE"}
    console.log("segundo: " +frame)
    score(roll,move,long)
  } 
}



array_pines=[]
arr=[]
function updateLane() {
  for ( var i = 0, l = pines.length; i < l; i++ ) {
    hide_pin=pines[ i ]
    $('#'+hide_pin).hide(); 
    num_pin=(hide_pin.split("_"))[1]
    arr.push(num_pin)    
  } 
  array_pines=arr
  roll(array_pines)
  $moving = false;
  $("#ball").hide();
  $("buttom").html("Next");

}

function checkPines(){
  $('.pin').each(function(){    
        pegar('#ball',$(this))
      });
  if ($moving){
    setTimeout(checkPines, 100)
  }
}

function start(){  
  console.log("start")  
  $("#ball").show();      
}

$(document).ready(function() {

  $("#ball").hide();

  var bola = $("#ball");
  var hide_pin="";
  $moving = true;
  $(bola).click(function(e) { 
    bola.animate({
      "left": 350,
      "top": 150
    }, 1000)  

    setTimeout(checkPines, 100)
    setTimeout(updateLane, 1000)
    });
});

//---------------------------------------------------------
/*$(document).mousemove(function(e) {
  $('#ball').css({
    top: e.pageY,
    left: e.pageX
  });  

  $('.pin').each(function(){    
    pegar('#ball',$(this))
  });  
  var hide_pin="";
  for ( var i = 0, l = pines.length; i < l; i++ ) {
    hide_pin=pines[ i ]
    $('#'+hide_pin).hide();      
  }
}); */
</script>

<center>
<div id="lanzar" class="texto">  
<button onclick="start()">START</button>
  <div id="simul">
    <div id="ball"></div>
    <div id="grupo">
      <div id="pin_10" class="pin">10</div>
      <div id="pin_9" class="pin">9</div>
      <div id="pin_8" class="pin">8</div>
      <div id="pin_7" class="pin">7</div>
      <div id="pin_6" class="pin">6</div>
      <div id="pin_5" class="pin">5</div>
      <div id="pin_4" class="pin">4</div>
      <div id="pin_3" class="pin">3</div>
      <div id="pin_2" class="pin">2</div>
      <div id="pin_1" class="pin">1</div>
    </div>

  </div>

                  
  <% if @frame.length<11 %>        

    <%=link_to image_tag('http://www.i2clipart.com/cliparts/7/9/e/1/clipart-bola-de-vidro-glass-ball-256x256-79e1.png',class: 'ball'),line_frames_path(@line), method: :post %>

  <% else%>
    <%= link_to('Jugar otra vez', "/")%>
  <%end%>
  
  <div id="info">      
    <% if @frame.length>0 %>   
    <%=@frame.last.roll_1%> <%=@frame.last.roll_2%><br>
    score  <%=@frame.last.score%><br>
    <div id="move"><%=@frame.last.move%><br></div>
    <%=@frame.last.total%>   
    <%end%>
  </div>
</div>
</center>

